<h1>Welcome to All Shops</h1>

<div class="logos">
  <%= image_tag "logo1.jpg", alt: "Logo 1", class: "logo" %>
 
 <%= image_tag "logo3.jpg", alt: "Logo 2", style: "width: 250px; height: auto;" %>

</div>

